{% extends "base.html" %}

{% block content %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p>{{ error }}</p>
{% endfor %}
{% endif %}


<form action="" method="post" id="password-change-form" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_old_password" class="col-sm-3 control-label">元のパスワード</label>
        <div class="col-sm-9">
            <input type="password" id="id_old_password" name="old_password" class="form-control">
            {{ form.old_password.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_new_password1" class="col-sm-3 control-label">新しいパスワード</label> 
        <div class="col-sm-9">
            <input type="password" id="id_new_password1" name="new_password1" class="form-control">
            {{ form.new_password1.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_new_password2" class="col-sm-3 control-label">パスワード（確認用）</label> 
        <div class="col-sm-9">
            <input type="password" id="id_new_password2" name="new_password2" class="form-control">
            {{ form.new_password2.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">パスワードを変更する</button>
        </div>
    </div>
</form>
{% endblock %}
